body
{
<<<<<<< HEAD
    text-align: center;
    font-family: "Courier";
    color: #333;
    font-size: 16px;
    margin: 0;
    padding: 0;
=======


    color:blue;

    text-align:center;
    font-family:Arial;
    font-size:16px;
    margin:0;
    padding:0
>>>>>>> e1d7415bbfd29c838ea7bf9470e4b8affa742a11
}

#cabecera
{
<<<<<<< HEAD
    background: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.75);
    color: white;
    font-weight: blod;
    margin: 0;
    padding: 0.5cm;

}
#cabecera #tagline
{
    padding: 1cm 0 0 0;
    font-weight: normal;
    font-size: 0.8cm;

}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
=======
    background:#33a;
    box-shadow:0 2px 20px 0 rgba(0,0,0,.5);
    color:#fff;
    font-weight:700;
    margin:0;
    padding:.5em
}

#cabecera #tagline
{
    padding:0 0 0 1em;
    font-weight:400;
    font-size:.8em
}

#container{
    width:70%;
    padding:0;
    text-align:left;
    border:1px solid #ddd;
    margin:0 auto
>>>>>>> e1d7415bbfd29c838ea7bf9470e4b8affa742a11
}

#container h1
{
<<<<<<< HEAD
    font-size: 20px;
}

#post
{
    padding: 1cm;

}
=======
    font-size:20px
}

#post{padding:1em}
>>>>>>> e1d7415bbfd29c838ea7bf9470e4b8affa742a11
